@*@model MVCwithCodeFirst.Salade*@
@model MVCwithCodeFirst.ViewModel.SaladeViewModel
@{
	ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<h4>Salade</h4>
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		@Html.HiddenFor(model => model.Salade.ID)

		<div class="form-group">
			@Html.LabelFor(model => model.Salade.Nom, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Salade.Nom, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Salade.Nom, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Salade.Description, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Salade.Description, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Salade.Description, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Salade.Fabricant_ID, "Fabricant_ID", htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DropDownList("Fabricant_ID", null, htmlAttributes: new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.Salade.Fabricant_ID, "", new { @class = "text-danger" })
			</div>
		</div>

		@*<div class="form-group">
				@Html.LabelFor(model => model.Salade.Aliments, "Aliments", htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.ListBoxFor(m => m.SelectedAlimentTags, Model.AllAliments)


					@foreach (var item in Model.Salade.Aliments)
					{
						@item.Nom<br />
					}
				</div>
			</div>*@

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Save" class="btn btn-default" />
			</div>
		</div>
	</div>
}
